<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='portal.css')}}">
</head>
<body>

    <div class="container">
        <h1>Obesity Level Predictor</h1>
        <form id="obesityForm" method="POST">
            <!-- Add your form inputs here -->
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="">Select Gender</option>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
    
            <label for="age">Age:</label>
            <input type="floatformat" id="age" name="age" required>
    
            <label for="height">Height:</label>
            <input type="floatformat" id="height" name="height" required>
    
            <label for="weight">Weight:</label>
            <input type="floatformat" id="weight" name="weight" required>
    
            <label for="family_history">Has a family member suffered or suffers from overweight?</label>
            <select id="family_history" name="family_history" required>
                <option value="">Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
    
            <label for="favc">Do you eat high caloric food frequently?</label>
            <select id="favc" name="favc" required>
                <option value="">Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
    
            <label for="fcvc">Do you usually eat vegetables in your meals?</label>
            <input type="number" id="fcvc" name="fcvc" required>
    
            <label for="ncp">How many main meals do you have daily?</label>
            <input type="number" id="ncp" name="ncp" required>
    
            <label for="caec">Do you eat any food between meals?</label>
            <select id="caec" name="caec" required>
                <option value="">Select Option</option>
                <option value="3">No</option>
                <option value="2">Sometimes</option>
                <option value="1">Frequently</option>
                <option value="0">Always</option>
            </select>
    
            <label for="smoke">Do you smoke?</label>
            <select id="smoke" name="smoke" required>
                <option value="">Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
    
            <label for="ch2o">How much water do you drink daily?</label>
            <input type="number" id="ch2o" name="ch2o" required>
    
            <label for="scc">Do you monitor the calories you eat daily?</label>
            <select id="scc" name="scc" required>
                <option value="">Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
    
            <label for="faf">How often do you have physical activity?</label>
            <input type="number" id="faf" name="faf" required>
    
            <label for="tue">How much time do you use technological devices such as cell phone, videogames, television, computer and others?</label>
            <input type="number" id="tue" name="tue" required>
    
            <label for="calc">How often do you drink alcohol?</label>
            <select id="calc" name="calc" required>
                <option value="">Select Option</option>
                <option value="2">No</option>
                <option value="1">Sometimes</option>
                <option value="0">Frequently</option>
            </select>
    
            <label for="mtrans">Which transportation do you usually use?</label>
            <select id="mtrans" name="mtrans" required>
                <option value="">Select Option</option>
                <option value="0">Automobile</option>
                <option value="1">Bike</option>
                <option value="2">Motorbike</option>
                <option value="3">Public Transportation</option>
                <option value="4">Walking</option>
            </select>
            <button type="submit">Predict</button>
        </form>
    </div>
    <div class="data">
        {% for key,value in data.items() %}
            {{key}} 
            <li>{{Key}} => {{value}}</li>
            
        {% endfor %}
    </div>
</body>
</html>
